<!DOCTYPE html>
<html lang="ko">
  <head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../static/css/second.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
</head>

<body>
  <div class="wrap">
    <h1 class="title">당신이 좋아할 만한 여행지 추천</h1>
    <button class="down_circle" onclick="">
      <h2>혼잡도 하위 3곳</h2>
      <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-arrow-down-circle" viewBox="0 0 16 16">
      <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v5.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V4.5z"/>
      </svg>
    </button>
    <div class="top3_content">
        <!-- Three columns of text below the carousel -->
        <div class="row">
          <div class="trav_photo_3">
            <img src="/static/media/images/3D착시.jpeg" alt="">
            <h3>해운대</h3>
            <p>혼잡</p>
            <p><a class="btn btn-secondary" href="#">더 알아보기 »</a></p>
          </div><!-- /.trav_photo_3 -->
          <div class="trav_photo_3">
            <img src="/static/media/images/3D착시.jpeg" alt="">
            <h3>홍대</h3>
            <p>혼잡</p>
            <p><a class="btn btn-secondary" href="#">더 알아보기 »</a></p>
          </div><!-- /.trav_photo_3 -->
          <div class="trav_photo_3">
            <img src="/static/media/images/3D착시.jpeg" alt=""> 
            <h3>한옥마을</h3>
            <p>혼잡</p>
            <p><a class="btn btn-secondary" href="#">더 알아보기 »</a></p>
          </div><!-- /.trav_photo_3 -->
        </div><!-- /.row -->
      </div>
  </div>
</body>
</html>

