<!DOCTYPE html>
<html lang="ko">
  <head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../static/css/third.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
</head>

<body>
  <div class="wrap">
    <button class="back_arrow" onclick="">
        <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"/>
        </svg>
    </button>
    <h1>추천 여행지들</h1>
    <div class="detail_content">
        <!-- Three columns of text below the carousel -->
        </div>
        <div class="row">
          <div class="corona_now">
            <h1 class="coro">홍대</h1>
            <h1 class="coro">코로나 밀집도 현황</h1>
            <p>오늘 6명</p>
            <p>1달 평균 4명</p>
          </div><!-- /.trav_photo_3 -->
          <div class="trav_photo_3">
            <img src="/static/media/images/3D착시.jpeg" alt=""> 
          </div><!-- /.trav_photo_3 -->
        </div><!-- /.row -->
      </div>
        <div class="search_area">

        </div>
  </div>
</body>
</html>

